<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/demo.css" />
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $(function(){

        })
    </script>
</head>
<body>
<span id="demo">
    <div class="text-box">
        <h3><span>add</span></h3>
        <ul>
            <li  v-for="(item,index) in list" v-cloak>
                <div>{{ item.name }}</div>
                <span  @click="delList(item.id, index)">delete</span>
            </li>
        </ul>
    </div>

    <div class="text-form">
        <ul>
            <li>
                <label>name</label>
                <input type="text" v-model="person.name">
            </li>
            <li>
                <label>age</label>
                <input type="text" v-model.number="person.age">
            </li>
        </ul>
        <div class="btn-wrap">
            <a href="javascripts:;" class="btn" @click="addList">提交</a>
        </div>

    </div>
</span>
</body>
</html>
<script type="text/javascript">
    // vue实例
    var app = new Vue({
        el: '#demo',
        data: {
            list: [],
            person: {name: "jack", age: 18}
        },
        methods: {
            //获取数据
            getList: function() {
                var _this = this;
                // 获取列表
                $.ajax({
                    type: "get",
                    url: "/person",
                    dataType: "json",
                    success: function(res){
                        _this.list = res
                        console.log(_this.list)
                    }
                })
            },

            //提交数据
            addList(){
                var _this = this;
                $.ajax({
                    type: "post",
                    data: JSON.stringify(_this.person),
                    url: "/person",
                    dataType: "json",
                    contentType: "application/json",
                    success: function(res){
                        console.log("add")
                        _this.list.push(res)
                    }
                })
            },
            //删除数据
            delList(id,index){
                var _this = this;
                $.ajax({
                    type: "delete",
                    url: "/person/" + id,
                    dataType: "json",
                    success: function(res){
                        console.log("delete")
                    }
                })
                // 服务器端没有返回
                _this.list.splice(index, 1)
            }
        },
        mounted() {
            this.$nextTick( function () {
                this.getList()
            })

        }
    })
</script>
