<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/demo.css" />
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $(function(){

        })
    </script>
</head>
<body>
<span id="demo">
    <div class="text-box">
        <h3><span>add</span></h3>
        <ul>
            <li  v-for="(item,index) in list" v-cloak>
                <div>{{ item.name }}</div>
                <span>delete</span>
            </li>
        </ul>
    </div>

    <div class="text-form">
        <ul>
            <li>
                <label>name</label>
                <input type="text" v-model="name">
            </li>
            <li>
                <label>age</label>
                <input type="text" v-model="age">
            </li>
        </ul>
        <div class="btn-wrap">
            <a href="javascripts:;" class="btn" @click="addList">提交</a>
        </div>

    </div>
</span>
</body>
</html>
<script type="text/javascript">
    // vue实例
    var app = new Vue({
        el: '#demo',
        data: {
            list: [],
            name: "",
            age: 0
        },
        methods: {
            //获取数据
            getList() {
                var _this = this;
                // 获取列表
                $.ajax({
                    type: "get",
                    url: "/person",
                    dataType: "json",
                    success: function(res){
                        _this.list = res
                    }
                })
            },

            //提交数据
            addList(){
                console.log("add")
                var _this = this;
                $.ajax({
                    type: "post",
                    data: '{"name": "uname", "age": 18}',
                    url: "/person",
                    dataType: "json",
                    success: function(res){
                       console.log(res)
                    }
                })
            }

        },
        mounted() {
            this.$nextTick( function () {
                this.getList()
            })

        }
    })
</script>
